Use a comprehension to make a list of the square numbers below 100 that give a remainder of 1 when divided by 3.

In [7]:
[i**2 for i in range(100) if (i**2)%3==1 and i**2 < 100]

[1, 4, 16, 25, 49, 64]

A string is defined in the code snippet below.  Split it into individual words and use a comprehension to make a list of the first letters of each word in the snippet.

In [8]:
text = """I live my life a quarter mile at a time. 
Nothing else matters: not the mortgage, not the store, not my team and all their bullshit. 
For those ten seconds or less, Iâ€™m free."""

In [11]:
[i[0] for i in text.split()]

['I',
 'l',
 'm',
 'l',
 'a',
 'q',
 'm',
 'a',
 'a',
 't',
 'N',
 'e',
 'm',
 'n',
 't',
 'm',
 'n',
 't',
 's',
 'n',
 'm',
 't',
 'a',
 'a',
 't',
 'b',
 'F',
 't',
 't',
 's',
 'o',
 'l',
 'I',
 'f']

A Pythagorean triple is a set $(x,y,z)$, with positive integers $x \leq y \leq z$ such that $x^2 + y^2 = z^2$.  Use a comprehension to make a list of all Pythagorean triples with numbers below 25.

In [14]:
pythags = [[x, y, z] for x in range(23) for y in range(24) for z in range(25) 
           if x<y<z and x**2 + y**2 == z**2 ]
pythags

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [8, 15, 17], [9, 12, 15], [12, 16, 20]]

Given a word, provided below, use a comprehension to make a list of all strings that can be formed by deleting exactly one character from the word.

In [21]:
word = "Welcomed"

In [25]:
[word[:i]+word[i+1:] for i in range(len(word))]

['elcomed',
 'Wlcomed',
 'Wecomed',
 'Welomed',
 'Welcmed',
 'Welcoed',
 'Welcomd',
 'Welcome']

Given a word, provided below, use a comprehension to make a list of all strings that can be formed by replacing exactly one vowel in the word with a different vowel.

In [26]:
word = "Booted"

In [32]:
[word[:i] + v + word[i+1:] for v in 'aeiou' for i in range(len(word)) 
 if word[i] in "aeiouAEIOU" and v!=word[i]]

['Baoted',
 'Boated',
 'Bootad',
 'Beoted',
 'Boeted',
 'Bioted',
 'Boited',
 'Bootid',
 'Bootod',
 'Buoted',
 'Bouted',
 'Bootud']